venv
.env
.idea
.idea/
db.sqlite3
__pycache__
__pycache__/
**/migrations/*.py
menu_pictures/
category_pictures/
wine_pictures/
baner_main/
gallery_images/
booking.csv
media/
dump.rdb
booking.csv
dump.rdb
backup
db.json